body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Agregar sombra para destacar */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Permite desplazamiento vertical */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.noticia {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.admin-options ul {
    list-style-type: none;
    padding: 0;
}

.admin-options li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin-options button {
    background-color: #dc3545;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-options button.edit {
    background-color: #007bff;
    margin-left: 5px;
}
